* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
article {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
article div {
  border: 1px solid gray;
  flex: 0 0 calc(33% - 20px);
  flex-flow: row wrap;
  align-items: stretch;
  padding: 20px;
}

article div img {
  width: 330px;
  height: auto;
}

.szegelyezes {
  border: 2px solid gray;
  padding: 10px;
  background-color: rgb(43, 159, 226);
}

@media screen and(max-widht: 400px) {
  article div {
    flex: 0 0 calc(50% -10px);
  }
}
